.option-header {
	display: flex;
	align-items: center;
}

.option-item{
    display: flex;
    align-items: center;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.upload-image {
	min-height: 80px;
	max-width: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	border: 1px dashed gray;
	cursor: pointer;
}

.upload-image img {
	width: 80px;
	height: 80px; 
	padding: 2px; 
	border-radius: 50%;
}