<div class="card">
    <div class="card-content">
        <h5 class="card-title">
            Nova Enquete
        </h5>

        <form [formGroup]="addForm" (ngSubmit)="onSubmit()">

            <p>{{ imageInfo  }}</p>

            <div class="row option-header">
                <input type="file" class="inputfile" (change)="onSelectFile($event)" #uploadPollImage />

                <div class="upload-image col s1" (click)="uploadPollImage.click()">
                    <img [src]="pollImageUrl" *ngIf="pollImageUrl" alt="Imagem da enquete">
                    <i class="material-icons grey-text" *ngIf="!pollImageUrl">file_upload</i>
                </div>

                <div class="input-field col s11">
                    <input id="title" type="text" class="validate" formControlName="title" required>
                    <label for="title">Título da enquete</label>
                    <span class="helper-text">Ex: Qual a maior banda de Rock de todos os tempos ?</span>
                </div>
            </div>

            <ng-container formArrayName="options">
                <div class="row option-item" *ngFor="let option of options.controls; let i=index">

                    <!-- 
                        <div class="upload-image col s1">
                        <input type="file" class="inputfile" #uploadItemImage />
                        <i class="material-icons left grey-text" (click)="uploadItemImage.click()">file_upload</i>                            
                    </div>     
                    -->

                    <div class="input-field col s10">
                        <input type="text" class="validate" [formControlName]="i" required>
                        <label>Opção {{ i + 1}}</label>
                        <span class="helper-text" *ngIf="optionHints[i]">Ex: {{ optionHints[i] }}</span>
                    </div>

                    <div class="input-field col s1 option-delete-btn">
                        <button *ngIf="options.length > 2" class="btn-floating btn-small red"
                            (click)="onDeleteOptionClick(i)">
                            <i class="material-icons left">delete</i>
                        </button>
                    </div>
                </div>
            </ng-container>

            <div class="row">
                <div class="input-field col s5 offset-s1">
                    <button class="btn waves-effect" (click)="onAddOptionClick()">
                        <i class="material-icons left">add</i>
                        Nova Opção
                    </button>
                </div>
                <div class="input-field col s6">
                    <button class="btn waves-effect right" type="submit" name="action" [disabled]="addForm.invalid">
                        Gravar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>