.poll-wrapper {
    margin-top: 40px;
}

.poll-action {
    position: relative;
}

.poll {
    border: 1px solid #dedede;
    background-color: #f7f7f7;
    padding: 10px;
}

.poll-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.poll-data {
    display: flex;   
    align-items: center; 
}

.poll-text  {
    padding-left: 20px;   
}

.poll-image img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.poll-title {
    color: black;
}
.poll-body {
    margin-top: 40px;
}

.poll-option {
    margin-top: 10px;
}

.option-perc {
    display: flex;
    align-items: center;

    & .option-perc-bar {
        height: 30px;
    }

    & .option-perc-value {
        margin-left: 5px;
    }
}

.option-votes {
    text-align: right;

    > span {
        border-bottom: 1px dotted;
    }
}

.poll-total {
    margin: 50px 0 20px;

    text-align: center;
}