<div class="card">
    <div class="card-content">
        <h5 class="card-title">
            Editar Enquete
        </h5>

        <div class="col s12">
            Atualize as informações da sua enquete e clique no botão gravar.
        </div>

        <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

            <div class="row">
                <div class="input-field col s12">
                    <input id="title" type="text" class="validate" formControlName="title" required>
                    <label class="active" for="title">Título da enquete</label>
                    <span class="helper-text">Ex: Qual a maior banda de Rock de todos os tempos ?</span>
                </div>
            </div>
            
            <ng-container formArrayName="options">
                <div class="row option-item" *ngFor="let option of options.controls; let i=index">
                    <div class="input-field col s10 offset-s1">
                        <input type="text" class="validate" [formControlName]="i" required>
                        <label class="active">Opção {{ i + 1}}</label>
                        <span class="helper-text" *ngIf="optionHints[i]">Ex: {{ optionHints[i] }}</span>
                    </div>
                    <div class="input-field col s1 option-delete-btn" *ngIf="i >= 2">
                        <button class="btn-floating btn-small red" (click)="onDeleteOptionClick(i)">
                            <i class="material-icons left">delete</i>
                        </button>
                    </div>
                </div>
            </ng-container>
                
            <div class="row">
                <div class="input-field col s5 offset-s1">
                    <button
                        class="btn waves-effect"
                        (click)="onAddOptionClick()">
                        <i class="material-icons left">add</i>
                        Nova Opção
                    </button>
                </div>
                <div class="input-field col s6">
                    <button 
                        class="btn waves-effect right" 
                        type="submit" 
                        name="action"
                        [disabled]="editForm.invalid">
                        Gravar
                    </button>
                </div>
            </div>            
        </form>
    </div>
</div>