.title {
    display: flex;
    align-items: center;

    h1 {
        flex: 1;
    }
}

.edit-item, .delete-item {
    cursor: pointer;
}

.edit-item:hover, .delete-item:hover {
    filter: brightness(0.6);
}

.item-button{
    cursor: pointer;
}